:global header.topbar {
  --header-height: 60px;
  min-width: 500px;
}
:global header.topbar div.topbar-container {
  display: flex;
  height: var(--header-height);
  background-color: var(--background-secondary);
  padding: 0 20px;
  position: relative;
}
:global header.topbar div.topbar-container span.logo-box {
  user-select: none;
  display: inline-block;
  height: 100%;
  line-height: var(--header-height);
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
  transition: width 200ms;
}
:global header.topbar div.topbar-container span.logo-box span {
  transition: opacity 300ms;
}
@media screen and (min-width: 512px) {
  :global header.topbar div.topbar-container span.logo-box {
    width: 250px;
    min-width: 250px;
  }
  :global header.topbar div.topbar-container span.logo-box span {
    opacity: 1;
  }
}
@media screen and (max-width: 512px) {
  :global header.topbar div.topbar-container span.logo-box {
    width: 20px;
    min-width: 20px;
    overflow: hidden;
    margin-right: 1rem;
  }
  :global header.topbar div.topbar-container span.logo-box span {
    opacity: 0;
  }
}
:global header.topbar div.topbar-container span.logo-box img.logo-image {
  -webkit-user-drag: none;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
:global header.topbar div.topbar-container span.search-box {
  display: inline-block;
  align-self: center;
  width: 100%;
}
:global header.topbar div.topbar-container span.search-box form.search-form {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  height: calc(var(--header-height) * 0.6);
}
:global header.topbar div.topbar-container span.search-box form.search-form input {
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  padding-right: 2rem;
  color: var(--text-primary);
  height: 100%;
  min-width: 5rem;
  padding-left: 1rem;
  width: 100%;
}
:global header.topbar div.topbar-container span.search-box form.search-form input:focus {
  outline: 0 none;
  box-shadow: 0px 0px 0px 3px var(--blend-color), 0px 0px 0px 3px var(--category-color);
  border-color: var(--category-color);
}
:global header.topbar div.topbar-container span.search-box form.search-form input::placeholder {
  font: var(--type-body);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--text-link);
  opacity: 1;
}
:global header.topbar div.topbar-container span.search-box form.search-form span.icon-search {
  margin-left: -2rem;
  transform: translateX(50%);
  align-self: center;
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel {
  position: absolute;
  display: block;
  top: calc(100% - 0px);
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
  max-height: 70vh;
  background-color: var(--background-secondary);
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict {
  z-index: 1;
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item {
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 0 1rem;
  height: 3rem;
  overflow: hidden;
  align-items: center;
  vertical-align: top;
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item:hover,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item:hover,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item:hover,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item:hover {
  background-color: var(--background-primary);
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item img.icon-history,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item img.icon-history,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item img.icon-history,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item img.icon-history,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item .icon-predict,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item .icon-predict,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item .icon-predict,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item .icon-predict {
  height: 40%;
  display: inline-block;
  margin-right: 0.5rem;
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item span.history-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item span.history-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item span.history-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item span.history-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item .predict-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item .predict-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item .predict-item,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item .predict-item {
  height: 100%;
  line-height: calc(3rem - 2px);
}
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item span.history-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item span.history-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item span.history-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item span.history-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-predict-item .predict-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-predict-item .predict-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-history .search-history-item .predict-item .predict-item-artist,
:global header.topbar div.topbar-container span.search-box form.search-form div.search-panel .search-panel-predict .search-history-item .predict-item .predict-item-artist {
  color: var(--text-primary);
}
:global header.topbar div.topbar-container span.user-box {
  margin-left: 2rem;
  height: 100%;
  line-height: var(--header-height);
}
:global header.topbar div.topbar-container span.user-box img.user-avatar {
  -webkit-user-drag: none;
  display: inline-block;
  height: 24px;
  width: 24px;
  min-width: 24px;
  vertical-align: middle;
}
:global header.topbar div.topbar-container span.themes-box {
  margin: 0 10px;
  height: 100%;
  line-height: var(--header-height);
}
:global header.topbar div.topbar-container span.themes-box img.currentTheme {
  cursor: pointer;
  -webkit-user-drag: none;
  display: inline-block;
  height: 16px;
  width: 16px;
  min-width: 16px;
  vertical-align: middle;
}
:global header.topbar div.topbar-container span.tool-box {
  height: 100%;
  line-height: var(--header-height);
}
:global header.topbar div.topbar-container span.tool-box img.tool-maximize {
  cursor: pointer;
  -webkit-user-drag: none;
  display: inline-block;
  height: 18px;
  width: 18px;
  min-width: 18px;
  vertical-align: middle;
}
